.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
  position: absolute;
  width: 100%;
  bottom: 0px
}
@media(min-width: 800px){
  .form-control{
    min-width: 150px;
    max-width: 150px;
  }  
}

#result{
  font-size: 3em;
  text-align: center;
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}